@font-face {
    font-family: Georgia;
    src: url('/shelter/fonts/Georgia.ttf');
}

* {
    margin: 0;
    padding: 0;
    max-width: 1280px;
}
.wrapper {
    max-width: 1280px;
}
html, body {
    height: 100%;
    height: 100%;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    background: url('/shelter/assets/start-screen-background.png');
   }

.header {
    height: 19.7vh;
    width:100vw;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    flex-direction: column;
    padding: 10vh 3.3vw;
}

.header__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    color: #F1CDB3;
    margin: 0;
    line-height: 110%;
    letter-spacing: 0.28vh;
}

.header__text span {
    display: inline;
}
.header__paragraph {
    padding: 1.3vh 0.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.2vh;
    color: #FFFFFF;
}

.nav_list {
    display: flex;
    padding: 12vh 3vw;
    list-style: none;
    color: #FAFAFA;
    
}

.nav_item {
    list-style: none;
}

.nav_item:nth-child(1), .nav_item:nth-child(2), .nav_item:nth-child(3) {
    margin-right: 2.25vw;
}

.nav_item a:hover {
    text-decoration: underline #F1CDB3 3px;
}

.nav_item a {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 170%;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.04vw;
    color: #FAFAFA;
    text-decoration: none;
}

.start-screen {
    display: flex;
}

.start-screen__wrapper {
    display: flex;
    justify-content: space-between;
    height: 126.5vh;
    width: 41vw;
}

.start-screen__container {
    margin: 35.5vh 0.344vw 0 3.2vw;
    width: 35.938vw;
}

.start-screen__container h2 {
    margin-bottom: 6.8vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 130%;
}

.start-screen__container p {
    margin-bottom: 6.8vh;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    line-height: 160%;
}

.start-screen__frame-container {
    margin-top: 9.5vh;
}

.button__button {
    width: 16.3vw;
    height: 8.6vh;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.097vw;
}

.start-screen__button span{
    text-align: center;
}

.start-screen__frame-container img {
    width: 100%;
    padding-left: 1vw;
}


.about {
    display: flex;
    margin-left: 16.8vw;
    padding-top: 12.6vh;
    padding-bottom: 15.5vh;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__text {
    margin-top: 2.8vh;
    margin-left: 9.4vw;
}

.about__text h2 {
    margin-bottom: 4.2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 0.156vw;
    color: #545454;
}

.about__text p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px; 
    color: #4C4C4C;
}

.about__text-text {
    margin-bottom: 4vh;
}


.pets {
    background-color: #F6F6F6;
}

.centred_wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centred_wrapper_headling {
    position: relative;
    margin: 13.5vh 0 0 1.25vw;
}

.centred_wrapper_headling h3 {
    display: block;
    text-align: center;
    margin-left: 0.078vw;
    margin-bottom: 4vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 2px;
    color: #545454;
}

.pets_slider {
    display: flex;
    justify-content: space-evenly;
    height: 65vh;
    width: 92vw;
    padding-top: 5.5vh;
}

.pets_image:nth-child(1){
    margin-left: 1vw;
}


.pets_image h3 {
    padding: 5vh 0.55vw 0 1.146vw;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.12vw;
}

.pets_image button {
    margin: 3.5vh 0vw 0 3.5vw;
    background-color: #FAFAFA;
    border: 0.05vw solid #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.small {
    width: 14.5vw;
}

.pets__button-container {
    margin: 20.6vh 2vw 15.8vh 3.2vw;
}

.large {
    width: 20.3vw;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}


.help__list {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.help__item {
    width: 15vw;
    margin: 5.4vh 1.5vw 1.83vh 1.6vw;    
    padding: 0 0.5vw;
}

.help__item_second_row {
    width: 15vw;
    margin: 5.4vh 2.8vw 12vh 0;    
    padding: 0 0.5vw;
}

.help__item, .help__item_second_row, .help__item:active, .help__item_second_row:active, .help__item:hover, .help__item_second_row:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
    cursor: pointer;
}

.help__text {
    display: block;
    margin-top: 5vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.donation {
    display: flex;
    background: #F6F6F6;
}

.donation__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 4vw 7vw;
}

.donation__image_container {
    display: flex;
    width: 39vw;
    height: 43vh;
    margin-top: 7vh;
    margin-left: 8vw;
}

.donation__image_container img {
    background-size: cover;
    width: 100%;
}

.donation__text {
    display: flex;
    margin-top: 5.85vh;
    margin-right: 7.6vw;
    flex-direction: column;
    color: #B2B2B2;
}

.donation__text h3 {
    margin-bottom: 1.4vh;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 2px;
    color: #545454;
}

.donation__text p {
    margin-top: 2vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.donation__text h6 {
    margin-bottom: 8vh;
    padding-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.donation__card_number {
    height: 7vh;
    width: 27.3vw;
    padding: 0 0.5vw;
    margin-bottom: 1.4vh;
    border: none;
    background-color: #F1CDB3;
    border-radius: 0.4vw;
}

.donation__card_number img {
    padding-right: 0.9vh;
}

.donation__card_number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
}



.footer {
    background: url('/shelter/assets/footer-gradient-background.png');
}

.footer_wrapper {
    padding: 3vh 2.7vw 2.5vh 3vw ;
}

.footer_container {
    display: flex;
    justify-content: space-between;
}

.footer_block {
    margin-top: 6vh;
    flex-direction: column;
}

.footer_block_block {
    margin-top: 5.8vh;
    margin-left: 0.5vw;
    flex-direction: column;
}

.footer_block h3 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer_block_block h3 {
    margin-right: 1.3vw;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__item {
    margin-top: 7vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__item_item_upper {
    margin-top: 6vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__item_item {
    margin-top: 7vh;
    margin-right: 1.9vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__item_item_specified {
    margin-top: 7.5vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__item_item_variation {
    margin-top: 2.5vh;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footer_img {
    display: flex;
    margin-top: 3vh;
    height: 24.5vw;
    width: 23vw;
}
.footer_img img {
    width: 100%;
}

.text {
    margin-left: 1.8vw;
}
.footer__link {
    text-decoration: none;
}
