@font-face {
    font-family: Georgia;
    src: url(/shelter/fonts/georgia/Georgia.ttf);
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.body {
    margin: 0 auto;
}

.wrapper {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	max-width: 1280px;
	margin: 0 auto;
}

.footer_background {
	background: url("/shelter/assets/png/footer-gradient-background.png");
}

.light {
	background-color: #F6F6F6;
}

.main {
	flex: 1 1 auto;
}

.header {
	width: 1200px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
	max-width: 1200px;
}

.header_logo {
    display: flex;
    flex-direction: column;
	align-items: center;
	color: #545454;
}

.logo__link {
	text-decoration: none;
	color: #545454;
}

.header__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.header__text span {
    display: inline;
}

.header__paragraph {
    padding: 10px 0 0 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.menu {
	display: flex;
}

.nav__list {
	display: flex;
}

.nav__item {
	margin-left: 36.5px;
}

.nav_link {
	font-family: Arial, Helvetica, sans-serif;
    line-height: 170%;
    font-weight: 400;
    font-size: 15px;
	line-height: 160%;
    text-decoration: none;
	color:#545454;
}

.nav_link_pets {
	font-family: Arial, Helvetica, sans-serif;
    line-height: 170%;
    font-weight: 400;
    font-size: 15px;
	color:#545454;
	text-decoration: none;
	border-bottom: 3px solid #F1CDB3;
}

.nav_link:hover {
	color: #FAFAFA;
}

.our_pets {
	width: 1200px;
	margin: 0 auto;
	background-color: #F6F6F6;
}

.our_pets__wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.our_pets__title {
	display: flex;
	text-align: center;
	margin: 80px 0 60px 0;
}

.our_pets__wrapper h3 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
}

.pets__cards {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: FAFAFA;
	column-gap: 40px;
	row-gap: 30px;
}

.pets__card {
	border-radius: 9px;
	cursor: pointer;
	background-color: #FAFAFA;
}

.pets__card:hover {
	box-shadow: 0px 2px 35px 14px #0D0D0D0A;
	color: #FFFFFF;
}

.pets__card:hover button {
	background-color: #FDDCC4;
  }
  
  
.pets__card img {
	max-height: 270px;
	max-width: 270px;
}

.pets__card p {
	margin-top: 30px;
	text-align: center;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
}

.pets__link {
	display: flex;
	justify-content: center;
	
}

.button {
	display: block;
	margin: 30px 0;
	height: 52px;
	width: 187px;
	border-radius: 100px;
	border: 2px solid #F1CDB3;
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	background-color: #FAFAFA;
}

.pets__paginator {
	display: flex;
	width: 340px;
}
.peginator__link {
	text-decoration: none;
	color: #CDCDCD;
}
.paginator_button {
	display: flex;
	height: 52px;
	width: 52px;
	margin: 60px 20px 100px 0px;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 2px solid #F1CDB3;
	font-weight: bold;
	font-size: large;
	color: #292929;
}

.highlited:hover {
	background-color: #F1CDB3;
}

.grey {
	border: 2px solid #CDCDCD;
}

.orange {
	background-color: #F1CDB3;
}

.orange:hover {
	background-color: #CDCDCD;
}


.footer {
	width: 1200px;
	margin: 0 auto;
}

.footer__wrapper {
	display: flex;
	align-items: center;
}

.footer__item {
	margin-top: 56px;
	margin-bottom: 64px;
	margin-right: 110px;
	max-height: 230px;
	min-width: 330px;
}

.footer__headling {
	display: flex;
	margin-bottom: 45px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}

.footer__link {
	text-decoration: none;
	color: #F1CDB3;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}

.special {
	margin-bottom: 49px;
}

.footer__text {
	margin-bottom: 45px;
}

.footer__image_container {
	display: flex;
	max-width: 300px;
	max-height: 30px;
}

.footer__image_container img {
	margin-right: 20px;
}

.margin {
	margin-bottom: 49px;
}

.margin_special {
	margin-bottom: 38px;
}

.footer__image {
	display: flex;
	padding: 3vh 1vw 0 0;
	margin: 0 0 0 3vw;
}

.footer__img_container {
	display: flex;
	margin-top: 40px;
	margin-left: 15px;
}
.footer__image {
	max-height: 310px;
	max-width: 300px;
}
